@font-face {
    font-family: 'Designer';
    font-style: normal;
    src: url('./fonts/Designer.otf');
}


h1, p {
    color: white;
}




h1 {
    padding-top: 20px;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 5px 5px 15px black;
    -webkit-text-stroke: 1px black;
}

p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: .5px black;
}

body {
    background-image: url(https://media.giphy.com/media/Eo6S6fbgPmRPi/giphy.gif);
    background-color: rgba(0, 0, 0, .65);
    background-blend-mode: darken;
    background-repeat: repeat-y;
}

h1, .info {
    text-align: center;
    margin: auto;
    padding-bottom: 120px;
}

.maker {
    padding-top: 35px;
    font-family: Arial;
    text-align: right;
    font-size: 15px;
    color: white;
}

a {
    color: teal;
}

a:hover {
    color: white;
}

a:active {
    color: blue;
}

.pfpimage {
    align-items: center;
    margin: auto;
    margin-bottom: -95px;
}

.f1 {
    border: 0;
}

.f2 {
    border-style: solid;
    border-color: black;
    fill: black;
}

hr {
    display: flex;
    height: 15px;
    background-color: black;
    width: 100%;
} 
.greenbar {
    background-color: green;
    margin-top: -80px;
    margin-bottom: 20px;
}

.bar {
    background-color: grey;
    margin-top: -80px;
    margin-bottom: 50px;
}

.bar2 {
    background-color: grey;
    margin-top: -30px;
    margin-bottom: 0px;
}

.topbar {
    background-color: black;
    position: fixed;
    margin-left: -8px;
    margin-top: -10px;
}

.navbar {
    justify-content: space-evenly;
    float: right;
    width: 20%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
}

#navbarSelector {
    width: 100%;
}

.infocontainer {
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, .1);
    border: 5px solid white;
    display: flex;
    flex-direction: row;
    margin: left;
    height: 400px;
    width: 450px;
}
.accinfohead {
    display: flex;
    border: none;
    flex-direction: row;
    color: white;
    font-family: 'Designer';
    font-size: 25px;
    text-align: center;
    padding-left: 100px;
    -webkit-text-stroke: .5px black;
}

img {
    border-radius: 50%;
}

section {
    box-shadow: 10px 10px;
}

@media screen and (max-width: 481px) {

}

